@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --corbranca: white;
    --corpreta: black;
    --coramarela: yellow;
    --fonte-aboreto: 'Aboreto', cursive;
    --fonte-bebas: 'Bebas Neue', cursive;
    --fonte-warp: 'Tilt Warp', cursive;
    --fonte-script: 'Dancing Script', cursive;
    --fonte-pt-caption: 'PT Serif Caption', serif;
    --tamanho-img-cards: 250px;
    --tamamho-img-cards-1024px: 200px;
}
html {
    scroll-behavior: smooth;
}
body {
    background: black url(../img/HD\ wallpaper_\ Hogwarts\ Legacy\,\ video\ games\,\ dragon\,\ owl\,\ Harry\ Potter\,\ birds.jpeg) top center no-repeat fixed;
    background-size: 100vw;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}
header ul, header a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin: auto;
    gap: 2em;
    color: var(--corbranca);
    transition: all .3s;
    cursor: pointer;
    font-family: var(--fonte-warp);
    letter-spacing: 2px;
}
header nav {
    margin: auto;
}
header a:hover {
    color: var(--coramarela);
}
header img {
    height: 50px;
    margin-top: 5px;
    transition: all .5s;
}
header img:hover {
    scale: .9;
}
.header-imgs {
    display: flex;
    gap: 1.5em;
}
.menu-mobile {
    cursor: pointer;
    display: none;
    background-color: black;
    position: fixed;
    z-index: 1002;
}
.menu-mobile .linha {
    width: 32px;
    height: 2px;
    background: var(--corbranca);
    margin: 10px;
    transform-origin: center;
    transition: all .5s ease-in-out;
}
.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 55px;
}
.inicio h1 {
    color: var(--corbranca);
    font-size: 5rem;
    font-family: var(--fonte-bebas);
    letter-spacing: 10px;
    text-shadow: black 2px 2px 120px;
}
.inicio p {
    color: var(--corbranca);
    text-shadow: black 3px 3px 13px;
    font-family: var(--fonte-aboreto);
    font-size: .9rem;
}
.btn-amarelo {
    background-color: var(--coramarela);
    text-decoration: none;
    color: var(--corpreta);
    font-family: var(--fonte-warp);
    padding: 1em;
    transition: all .3s;
}
.btn-amarelo:hover {
    background-color: rgb(211, 211, 0);
}
.inicio-introducao {
    padding: 2em 0;
    margin: auto;
}
.sobre {
    margin: auto;
    padding: 10em 0;
    background: var(--corbranca) url(../img/download\ \(3\).jpeg) left bottom repeat scroll;
    background-size: 100vw;
}
.container-sobre {
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 1000px;
    margin: auto;
}
.imagem {
    height: 30em;
    border: 20px solid black ;
}
.info-sobre {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info-sobre h1 {
    font-family: var(--fonte-bebas);
    font-size: 4rem;
}
.info-sobre p {
    font-family: var(--fonte-script);
    font-size: 1.5rem;
    font-weight: bold;
}
.ancora-info {
    padding-top: 2em;
}
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    visibility: hidden;
    z-index: 1001;
}
.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}
.fechar-modal {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.modal iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}
.modal.aberto {
    opacity: 1;
    visibility: visible;
}
.testes {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9094012605042017) 10%, rgba(0,0,0,0.7469362745098039) 30%, rgba(0,0,0,0.5816701680672269) 100%);
}
.container-titulo {
    text-align: center;
    color: var(--corbranca);
    font-family: var(--fonte-bebas);
    font-size: 3rem;
    padding: 2em 0;
}
.cards-testes {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}
.card-hp {
    position: relative;
    max-width: var(--tamanho-img-cards);
}
.card-hp-div {
    position: relative;
    transition: all .5s;
}
.card-hp-div:hover {
    scale: 1.05;
}
.img-card {
    width: var(--tamanho-img-cards);
}
.card-hp h2 {
    position: absolute;
    color: var(--corbranca);
    bottom: 1em;
    left: .8em;
    font-family: var(--fonte-aboreto);
    text-shadow: black 2px 2px 5px;
}
.card-hp p {
    font-family: var(--fonte-pt-caption);
    color: var(--corbranca);
    padding: .7em;
    text-align: start;
}
.info {
    background-color: var(--corpreta);
    padding: 4em 0;
}
.div-divisoria {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
}
.divisoria {
    width: 100%;
}
.info-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 4em 0;
}
.info-img {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 3em;
}
.imagem-hogwarts {
    width: 70%;
    margin: auto;
}
.info-container p {
    color: var(--corbranca);
    text-align: center;
}
footer {
    background-color: var(--corpreta);
    height: 2em;
}
footer p, footer a {
    color: var(--corbranca);
    text-align: center;
    font-family: var(--fonte-aboreto);
    transition: all .5s;
}
footer a:hover {
    color: var(--coramarela);
}