@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --corbranca: white;
    --corpreta: black;
    --fonte-aboreto: 'Aboreto', cursive;
    --fonte-bebas: 'Bebas Neue', cursive;
}
body {
    background: black url(../img/HD\ wallpaper_\ Hogwarts\ Legacy\,\ video\ games\,\ dragon\,\ owl\,\ Harry\ Potter\,\ birds.jpeg) top center no-repeat fixed;
    background-size: 100vw;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}
header ul, header a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin: auto;
    gap: 2em;
    color: var(--corbranca);
}
header img {
    height: 50px;
    margin-top: 5px;
}
.header-imgs {
    display: flex;
    gap: 1.5em;
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.inicio h1 {
    color: var(--corbranca);
    font-size: 5rem;
    font-family: var(--fonte-bebas);
    letter-spacing: 10px;
    text-shadow: black 2px 2px 120px;
}
.inicio p {
    color: var(--corbranca);
    text-shadow: black 3px 3px 13px;
    font-family: var(--fonte-aboreto);
    font-size: .9rem;
}
.inicio a {
    background-color: yellow;
    text-decoration: none;
    color: var(--corpreta);
    padding: 1em;
}
.container-inicio {

}
.inicio-introducao {
    padding: 2em;
    margin: auto;
}